.location__wrapper {
    position: relative;
    width: 90%;
    margin: 20px auto;

    display: flex;
    flex-direction: row;
}

.search {
    width: 90%;
    height: 30px;
    font-size: 20px;

    margin: 15px 0;

    color: grey;

    background: none;
    border: none;
}

.search:focus {
    outline: none; /* Убираем обводку при фокусе */
    border: none; /* Цвет границы при фокусе */
}

.search:active {
    border: none;
}

.myGeo {
    background: none;
    border: none;
}

.pin {
    display: block;
    width: 25px;
    height: 25px;

    fill: rgba(158, 158, 158, 0.733);
}

.location__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 90%;
    margin: 25px auto;

    font-weight: 400;
}

.location__list__town {
    color: grey;
    cursor: pointer;
}

.location__list::after {
    content: " ";
    position: absolute;
    bottom: -25px;
    display: block;

    width: 100%;
    height: 1px;
    background-color: gray;
}
