.weather__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 70%;
    height: 100%;

    margin: -60px 40px;
}

.temperature {
    font-size: 6rem;

    /* margin: 20px 60px; */
}

.current_location {
    font-size: 3rem;
}

.data__wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;

    font-size: 1.5rem;
}

.icon_cloud {
    width: 60px;
    height: 60px;
    fill: #ffffff;
}
