body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;

    color: white;

    background-image: url(./assets/img/cloudly.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
